<footer class="footer">
  <div class="container">
    <div class="row justify-center">
      <div class="col">
        <img
          loading="lazy"
          src="https://api.elcolombiano.com/wp-content/uploads/2024/03/logoAyC-blanco.png"
          width="400"
          height="200"
          alt="Loggo footer"
        />
      </div>
    </div>
  </div>
</footer>
