<footer class="footer">
  <div class="container">
    <div class="row justify-center">
      <div class="col">
        <img
          loading="lazy"
          src="/images/logo-footer.svg"
          width="400"
          height="200"
          alt="Loggo footer"
        />
      </div>
    </div>
  </div>
</footer>
