---
const { proyect } = Astro.props
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const getlang = getLangFromUrl(Astro.url)
const t = useTranslations(getlang)

const { idFormulario } = Astro.props
---

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed')

    document.querySelector('.form').addEventListener('submit', function (event) {
      // Crear y agregar el primer select con id y nombre 1682749 y valor si seleccionado
      var select1 = document.createElement('select')
      select1.id = '1682749'
      select1.name = '1682749'
      select1.style.display = 'none'
      var option1 = document.createElement('option')
      option1.value = 'Si'
      option1.text = 'Si seleccionado'
      option1.selected = true
      select1.appendChild(option1)
      this.appendChild(select1)

      // Crear y agregar el segundo select con id y nombre 1682750 y valor si seleccionado
      var select2 = document.createElement('select')
      select2.id = '1682750'
      select2.name = '1682750'
      //add style to not visible
      select2.style.display = 'none'
      var option2 = document.createElement('option')
      option2.value = 'Si'
      option2.text = 'Si'
      option2.selected = true
      select2.appendChild(option2)
      this.appendChild(select2)

      // Crear y agregar el tercer select con id y nombre 1682751 y valor si seleccionado
      var select3 = document.createElement('select')
      select3.id = '1682751'
      select3.name = '1682751'
      select3.style.display = 'none'
      var option3 = document.createElement('option')
      option3.value = 'Si'
      option3.text = 'Si'
      option3.selected = true
      select3.appendChild(option3)
      this.appendChild(select3)

      // Enviar el formulario después de agregar los campos
      this.submit()
      event.preventDefault() // Evita que el formulario se envíe y se recargue la página de forma predeterminada
    })
  })
</script>

<form class="form" method="GET" action="https://app.embluemail.com/Online/TriggerUrlExterna.aspx">
  <input type="hidden" name="key" value={idFormulario} />
  <input id="1696792" name="1696792" type="hidden" value={proyect} />

  <div class="mb-3">
    <input id="1682746" type="text" placeholder="Nombre" name="1682746" required />
  </div>

  <div class="mb-3">
    <input id="1682747" type="text" placeholder="Apellido" name="1682747" required />
  </div>

  <div class="mb-3">
    <input id="1682748" type="number" placeholder="Teléfono" name="1682748" required />
  </div>

  <div class="mb-3">
    <input id="email" type="email" placeholder="Email" name="email" required />
  </div>

  <div class="mb-3">
    <select id="1748298" name="1748298" required>
      <option value="-1">Seleccione tipo de identificación</option>
      <option value="Cedula Ciudadanía">Cedula Ciudadanía</option>
      <option value="Cedula Extranjería">Cedula Extranjería</option>
      <option value="NIT">NIT</option>
      <option value="Otro">Otro</option>
    </select>
  </div>

  <div class="mb-3">
    <input id="1682710" type="number" placeholder="Identificación" name="1682710" required />
  </div>

  <div class="mb-3">
    <div class="row align-middle">
      <div class="col col-narrow">
        <input type="checkbox" id="1682749_" name="1682749_" required />
        <input type="checkbox" id="1682751_" name="1682751_" value="Si" checked style="display:none" />
      </div>
      <div class="col">
        <div class="text-xs">
          Acepto los <a href="https://www.elcolombiano.com/terminos-y-condiciones" target="_blank"
            >Términos y condiciones de productos y servicios;</a
          > y el <a href="https://www.elcolombiano.com/politica-de-privacidad" target="_blank"
            >Tratamiento y uso del Dato Personal</a
          > de Grupo EL COLOMBIANO*
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="row align-middle">
      <div class="col col-narrow">
        <input type="checkbox" id="1682750_" name="1682750_" required />
      </div>
      <div class="col">
        <div class="text-xs">
          Autorizo a Grupo EL COLOMBIANO compartir mis datos personales con terceros aliados
          comerciales conforme la <a
            href="https://www.elcolombiano.com/terminos-y-condiciones"
            target="_blank">Política de Tratamiento y uso del Dato Personal</a
          >*
        </div>
      </div>
    </div>
  </div>

  <button class="button" type="submit" value="Confirmar">Contactarme</button>
</form>

<script type="text/javascript" src="https://app.embluemail.com/emblue/form_validation.js"></script>
